page-trip-detail {
  #trip-detail-map {
    background-color: #dddddd;
    height: 50%;
    width: 100%;
  }
  .trip-stats {
    margin-top: 56px;
    padding-top: 50%;
  }
  @media (orientation: landscape) {
    #trip-detail-map {
      height: 100%;
      width: 50%;
    }
    .trip-stats {
      left: 50%;
      margin-top: 0;
      padding-top: 0;
      position: absolute;
      width: 50%;
    }
  }
}
