<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="range" (ionChange)="updateRange()">
      <ion-segment-button value="week">
        Week
      </ion-segment-button>
      <ion-segment-button value="month">
        Month
      </ion-segment-button>
      <ion-segment-button value="year">
        Year
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>
  <ion-segment *ngIf="provider.hasTrips()" [(ngModel)]="chartView" (ionChange)="updateChart()">
    <ion-segment-button value="trips">
      <ion-icon name="bicycle" item-left></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="duration">
      <ion-icon name="stopwatch" item-left></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="distance">
      <ion-icon name="pin" item-left></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="speed">
      <ion-icon name="speedometer" item-left></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="calories">
      <ion-icon name="pizza" item-left></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="ghg">
      <ion-icon name="leaf" item-left></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <div class="chart-wrapper" *ngIf="provider.hasTrips()">
    <x-chartist
      class="chart"
      [data]="chart.data"
      [type]="chart.type"
      [options]="chart.options"
      [responsiveOptions]="chart.responsiveOptions"
      [events]="chart.events">
    </x-chartist>
    <div class="chart-xaxis-label" *ngIf="range != 'year'">Day</div>
    <div class="chart-xaxis-label" *ngIf="range == 'year'">Month</div>
    <div class="chart-yaxis-label" *ngIf="chartView == 'trips'">Trips</div>
    <div class="chart-yaxis-label" *ngIf="chartView == 'duration'">Minutes</div>
    <div class="chart-yaxis-label" *ngIf="chartView == 'distance'">Miles</div>
    <div class="chart-yaxis-label" *ngIf="chartView == 'speed'">MPH</div>
    <div class="chart-yaxis-label" *ngIf="chartView == 'calories'">Calories</div>
    <div class="chart-yaxis-label" *ngIf="chartView == 'ghg'">Lb GHG</div>
  </div>
  <ion-list *ngIf="provider.hasTrips()">
    <ion-item-divider color="light">
      This {{ range }}
    </ion-item-divider>
    <ion-item>
      <ion-icon name="bicycle" item-left></ion-icon>
      {{tripsCount}} trips
    </ion-item>
    <ion-item>
      <ion-icon name="stopwatch" item-left></ion-icon>
      {{stats.formatDuration()}}
    </ion-item>
    <ion-item>
      <ion-icon name="pin" item-left></ion-icon>
      {{stats.formatDistance()}} mi
    </ion-item>
    <ion-item>
      <ion-icon name="speedometer" item-left></ion-icon>
      {{stats.formatSpeed()}} MPH
    </ion-item>
    <ion-item>
      <ion-icon name="pizza" item-left></ion-icon>
      {{stats.formatCalories()}} cal
    </ion-item>
    <ion-item>
      <ion-icon name="leaf" item-left></ion-icon>
      {{stats.formatGHG()}} lb GHG
    </ion-item>
  </ion-list>
</ion-content>
