page-stats {
  .chart-wrapper {
    height: 300px;
    margin: 15px;
    padding: 0 0 0.9em 0.9em;
    position: relative;
  }
  x-chartist {
    display: block;
    height: 100%;
  }
  .ct-label {
    font-size: 1.5rem;
  }
  .chart-xaxis-label {
    bottom: 0;
    font-size: 0.9em;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .chart-yaxis-label {
    font-size: 0.9em;
    font-weight: bold;
    left: -300px;
    position: absolute;
    text-align: center;
    top: 0;
    transform: rotate(270deg);
    transform-origin: 100% 0;
    width: 300px;
  }
}
