<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Stats
    </ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="range" (ionChange)="updateRange()">
      <ion-segment-button value="week">
        Week
      </ion-segment-button>
      <ion-segment-button value="month">
        Month
      </ion-segment-button>
      <ion-segment-button value="year">
        Year
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment *ngIf="provider.hasTrips()" [(ngModel)]="chartView" (ionChange)="updateChart()">
    <ion-segment-button value="trips">
      Trips
    </ion-segment-button>
    <ion-segment-button value="duration">
      Time
    </ion-segment-button>
    <ion-segment-button value="distance">
      Distance
    </ion-segment-button>
    <ion-segment-button value="speed">
      Speed
    </ion-segment-button>
    <ion-segment-button value="calories">
      Calories
    </ion-segment-button>
    <ion-segment-button value="ghg">
      GHG
    </ion-segment-button>
  </ion-segment>
  <div class="chart-wrapper" *ngIf="provider.hasTrips()">
    <x-chartist
      class="chart"
      [data]="chart.data"
      [type]="chart.type"
      [options]="chart.options"
      [responsiveOptions]="chart.responsiveOptions"
      [events]="chart.events">
    </x-chartist>
  </div>
  <ion-list *ngIf="provider.hasTrips()">
    <ion-item>
      <ion-icon name="bicycle" item-left></ion-icon>
      {{tripsCount}} trips
    </ion-item>
    <ion-item>
      <ion-icon name="stopwatch" item-left></ion-icon>
      {{stats.formatDuration()}}
    </ion-item>
    <ion-item>
      <ion-icon name="pin" item-left></ion-icon>
      {{stats.formatDistance()}} mi
    </ion-item>
    <ion-item>
      <ion-icon name="speedometer" item-left></ion-icon>
      {{stats.formatSpeed()}} MPH
    </ion-item>
    <ion-item>
      <ion-icon name="pizza" item-left></ion-icon>
      {{stats.formatCalories()}} cal
    </ion-item>
    <ion-item>
      <ion-icon name="leaf" item-left></ion-icon>
      {{stats.formatGHG()}} lb GHG
    </ion-item>
  </ion-list>
</ion-content>
