@import 'mapbox-gl/mapbox-gl.css';

page-map {
  .scroll-content {
    height: 100%;
    position: relative;
  }
  #map {
    height: 100%;
  }
  /* Map popup */
  .mapboxgl-popup {
    max-width: 80%;
  }
  .mapboxgl-popup-content {
    h2 {
      font-size: 1.4em;
      font-weight: 400;
      margin: 0 0 0.25em 0;
    }
    p {
      margin: 0;
    }
  }
  /* Map markers */
  .marker-hidden {
    display: none;
  }
  .marker-current {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15),
      inset 0 0 5px rgba(219, 140, 35, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.75);
    background-color: #FBB03B;
    background-image: url(../assets/img/marker.svg);
    border-radius: 15px;
    height: 30px;
    width: 30px;
  }
}
