page-tutorial {
  .slide {
    font-size: 15px;
  }
  .slide-zoom {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  .illustration {
    flex: 0 1 auto;
    margin: 0 auto;
    width: 75%;
  }
}
